.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }

  .smile {
    position: absolute;
    right: 10%; /* Adjust this as needed */
    bottom: 25%;
    border-radius: 10px;
    height: 600px;
    width: 450px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    &:before {
      content: '';
      background: #282c34;
      width: 450px;
      height: 350px;
      bottom: 0px;
      z-index: -1;
      position: absolute;
      border-top-right-radius: 25%;
      border-top-left-radius: 25%;
      border-bottom-right-radius: 5%;
      border-bottom-left-radius: 5%;
    }

    img {
      border-radius: 10px;
      height: 100%;
      filter: grayscale(50%);
      &:hover {
        filter: grayscale(0) saturate(2);
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }
  h1 {
    font-size: 46px;
    line-height: 53px;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .home-page .smile {
    position: relative;
    width: 200px;
    height: 300px;
    bottom: 40px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;

    &:before {
      display: none;
    }
  }

  .home-page .smile img {
    position: relative;
    margin: auto;
    filter: grayscale(0) saturate(2);
  }
}

@media screen and (max-width: 480px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }
  h1 {
    font-size: 41px !important;
    line-height: 53px !important;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .home-page .smile {
    position: relative;
    width: 200px;
    height: 300px;
    bottom: 40px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;

    &:before {
      display: none;
    }
  }

  .home-page .smile img {
    position: relative;
    margin: auto;
    filter: grayscale(0) saturate(2);
  }
  .home-page h1 img {
    width: 20px;
  }

  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
}
}
