/* Hide scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

@keyframes glow {
  0% {
    border-bottom: 6px solid #181818;
    box-shadow: 0 0 3px rgba(255, 215, 0, 0.5);
  }
  50% {
    border-bottom: 6px solid #181818;
    box-shadow: 0 0 7px rgba(255, 215, 0, 0.7);
  }
  100% {
    border-bottom: 6px solid #181818;
    box-shadow: 0 0 10px #ffd700;
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  // scroll-padding: 1%;
}

.three {
  // background: #be174a;
  padding-bottom: 20px;
}

.skills-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 50px;
    margin-top: 50px;
  }

  .skills--section {
    display: flex;
    padding: 149.33px 85.33px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 106.667px;
  }
  .skills--section--heading {
    color: #ffd700;
    font-size: 44px;
    font-weight: 700;
    line-height: 77px;
    margin-left: 60px;
    margin-top: 60px;
  }
  .skills--section--container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 13px;
    max-height: 200px;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 23px;
    height: 40px;
    line-height: 34px;
    border: 2px solid rgba(88, 156, 228, 0.907);
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
  }

  .btn:hover {
    transform: translateY(-3px);
    background: #111008;
    border: 2px solid #111008;
  }
  .skills--section--card {
    // display: flex;
    padding: 10px;

    gap: 5px;

    border-radius: 19.6px;

    background-image: linear-gradient(
      to right,
      rgb(29, 29, 56),
      #022c43,
      #3b3b6d,
      #444d79,
      #314fa0
    );
    min-height: 150px;
  }

  .skills--section--card:hover {
    animation: glow 1s infinite alternate;
    background: #ffd700;
    opacity: 0.85;
  }

  .skills--section--card:hover .skills--section--description {
    color: #181818;
  }

  .skills--section--card:hover .skills--section--title {
    color: #181818;
  }
  .skills--section--img {
    display: flex;
    border-radius: 10px;
  }

  .skills--section--img img {
    transition: transform 0.5s ease-in-out;
  }

  .skills--section--img img:hover {
    animation: spin 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .skills--section--card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
  }
  .skills--section--title {
    color: rgba(88, 156, 228, 0.907);
    font-size: 20px;
    font-weight: 700;
    line-height: 5px;
  }
  .skills--section--description {
    color: black;
    font-size: 10.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
  }

  .experience--section--container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align:none;
    padding: 0%;
  }

  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
    // scroll-padding: 1%;
  }

  .skills-page {
    padding-left: 0px;
    padding-right: 0px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
      margin-left: 0px;
      margin-top: 0px;
    }

    .skills--section {
      display: flex;
      padding: 149.33px 85.33px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 106.667px;
    }
    .skills--section--heading {
      margin-left: 10px;
      margin-top: 10px;
    }
    .skills--section--container {
      gap: 32.6px;
      grid-template-columns: repeat(2, 1fr);
      
    }

  }
}
